body {
    background-color: black;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: black;
}

.page 
{
    padding-top: 20px;
    width: 1370px;
    margin-left: auto;
    margin-right: auto;
}

img {
    padding: 2px;
}